root {
    display:block;
}
.root {
    -fx-background-color: #404552;
    -fx-font-family: Ubuntu Regular;
}
.tab-pane {
    -fx-background-color: #404552;
    -fx-border-color: #212121;
}
.button {
    -fx-background-color: #4083d5;
    -fx-background-radius: 15px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.button:hover {
    -fx-background-color: #469af4;
}
.text-field {
    -fx-background-radius: 15px;
    -fx-background-color: #404552;
    -fx-border-color: #212121;
    -fx-border-radius: 15px;
    -fx-text-fill: #ffffff;
}
.pane {
    -fx-background-color: #404552;
    -fx-border-color: #212121;
}
.textLabel {
    -fx-text-fill: #ffffff;
    -fx-font-family: Liberation Serif;
}



